!DOCTYPE html>
<html>
<body>

<h2>Article Edit</h2>

<p>  <%= @error %> </p>

<form action="/articles/<%=@article.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Article Title:</label><br>
  <input type="text" id="title" name="title" value="<%= @article.title %>"  > <br><br>
  
  <input type="submit" value="Edit Article">
</form> 


</body>
</html>