
<h2>Edit Your Article</h2>



<form action="/articles" method="post">

  <label>Article Title:</label><br>
  <input type="text" name="title" value=""><br><br>
  <label>Article Description:</label><br>
  <textarea name="description" rows="3" cols="30"></textarea>> <br><br>
  <input type="submit" value="Submit Article">
</form> 


</body>
</html>
