<h1> Choose Your Article </h1>

<form action="/articles/<%= @articles.id %>" method="post"> 
 <input type="hidden" name="_method" value="patch">
    <label> Author </label>
    <input type="text" name="article[author]" value="<%=@articles.author %>"/>
     <label> Title </label>
    <input type="text" name="article[title]" value="<%= @articles.title %>" />
     <label> Excerpt </label>
    <input type="text" name="article[excerpt]" value="<%= @articles.s%>"/>
    <input type="Submit" Value="Choose New Article">
</form>