
<h1> Create Your Article </h1>

<form action="/articles" method="post"> 
    <label> Author </label>
    <input type="text" name="article[excerpt]"/>
     <label> Title </label>
    <input type="text" name="article[excerpt]" required/>
     <label> Excerpt </label>
    <input type="text" name="article[excerpt]"/>
    <input type="Submit" Value="Create Your Article">
</form>


