<h1> Article </h1>
 <br> 
<li><h4> Title: </h4> <%=  @article.title  %> </li><br>
<li><h4> Description: </h4> <%=  @article.description %> </li>
<li><h4> Category: </h4> <%=  @article.category %> </li>

<body style="background-color:gold;">